<div class="card">
    <img src="{{ item.imagem }}" alt="{{ item.titulo }}" class="card-image">
    <h4>{{ item.titulo }}</h4>
    <p>{{ item.texto }}</p>
    <a href="{{ item.link }}" class="button">{{ item.texto_botao }}</a>
</div>
